/*
ING player

A MediaElement.js player skin for ing.com

Skin name: "mejs-ing"

HTML:
<video width="320" height="240" poster="" controls="controls" preload="none" class="mejs-ing">
...
</video>

Assets (in same folder):
- loading-ing.gif
- controls-ing.png
- controls-ing.hd.png

*/

/*
Overall:
*/
.mejs-ing .mejs-overlay-loading {
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  background: #000;
}
.mejs-ing .mejs-overlay-loading span {
  width: 70px;
  height: 70px;
  background: transparent url(loading-ing.gif) center center no-repeat;
}

.mejs-ing .mejs-controls .mejs-playpause-button button,
.mejs-ing .mejs-overlay-button {
  -webkit-transition: background-color .33s;
  transition: background-color .33s;
}

.mejs-ing .mejs-overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  font-size: 34px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background: #ff6200 url(controls-ing.png) no-repeat 0 0;
  background-color: rgba(255,102,0, .5);
}
.mejs-ing .mejs-overlay:focus .mejs-overlay-button,
.mejs-ing .mejs-overlay:hover .mejs-overlay-button {
  background: #ff6200 url(controls-ing.png) no-repeat 0 0;
}


@font-face {
  font-family: INGMeWeb;
  src: url("/play.vtt/fonts/INGMe/Latin/Regular/INGMeWeb-Regular.woff") format("woff");
}


/*
Controls - general:
*/
.mejs-ing .mejs-controls {
  background: #a8a8a8;
  height: 32px;
}

.mejs-ing .mejs-controls .mejs-button button:focus {
  outline: none;
}

.mejs-ing .mejs-button {
  position: absolute;
}
.mejs-ing .mejs-controls .mejs-playpause-button  {
  z-index: 100;
  top: 0;
  left: 0;
  width: 30px;
  height: 32px;
  background: transparent;
}
.mejs-ing .mejs-controls .mejs-playpause-button button {
  width: 30px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: transparent url(controls-ing.png) no-repeat -70px 0;
}
.mejs-ing .mejs-controls .mejs-playpause-button button:hover,
.mejs-ing .mejs-controls .mejs-playpause-button button:focus {
  background-position: -70px -35px;
}
.mejs-ing .mejs-controls .mejs-playpause-button.mejs-pause button {
  background-position: -100px 0;
}
.mejs-ing .mejs-controls .mejs-playpause-button.mejs-pause button:hover,
.mejs-ing .mejs-controls .mejs-playpause-button.mejs-pause button:focus {
  background-position: -100px -35px;
}

/*
Controls: time
*/
.mejs-ing .mejs-controls .mejs-time {
  overflow: visible;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.mejs-ing .mejs-controls .mejs-time span {
  display: none;
  position: absolute;
  z-index: 101;
  margin: 0;
  float: none;
  color: #1F1F1F;
}
.mejs-ing .mejs-controls .mejs-time .mejs-currenttime {
  display: block;
  top: 11px;
  left: 37px;
}
.mejs-ing .mejs-controls .mejs-time .mejs-duration {
  display: block;
  top: 11px;
  right: 90px;
}

.mejs-ing .mejs-controls .mejs-time-rail {
  position: absolute;
  left: 70px;
  right: 130px;
  width: auto !important;
  margin: 0;
  padding: 0;
}
.mejs-ing .mejs-controls .mejs-time-rail span {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.mejs-ing .mejs-controls .mejs-time-rail .mejs-time-total {
  height: 11px;
  margin: 10px 0;
  width: 100% !important;
  background: #eee;
  background: rgba(255,255,255, .5);
}
.mejs-ing .mejs-controls .mejs-time-rail .mejs-time-buffering {
  height: 11px;
}
.mejs-ing .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #fff;
  width: 0;
  height: 11px;
}
.mejs-ing .mejs-controls .mejs-time-rail .mejs-time-current {
  width: 0;
  height: 11px;
  background: #ff6200;
}
.mejs-ing .mejs-controls .mejs-time-rail .mejs-time-handle {
  display: none;
}
.mejs-ing .mejs-controls .mejs-time-rail .mejs-time-float {
  display: block;
  position: absolute;
  top: -22px;
  left: 5px;
  background: #fff;
  border: 0 solid;
}
.mejs-ing .mejs-controls .mejs-time-rail .mejs-time-float-corner {
  border-top-color: #fff;
}

/*
Controls: captions
*/
.mejs-ing .mejs-controls .mejs-captions-button {
  position: absolute;
  top: 0;
  right: 60px;
  width: 25px;
  height: 32px;
}
.mejs-ing .mejs-controls .mejs-captions-button button {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 32px;
  background: url(controls-ing.png) no-repeat -246px 0;
}
.mejs-ing .mejs-controls .mejs-captions-button button:hover,
.mejs-ing .mejs-controls .mejs-captions-button button:focus {
  background-position: -246px -35px;
}
.mejs-ing .mejs-controls .mejs-captions-button .mejs-captions-selector {
  bottom: 32px;
  right: 0;
  width: 100px;
  background: #a8a8a8;
}
.mejs-ing .mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
  width: 75px;
  color: #1F1F1F;
}

/*
Controls: volume
*/
.mejs-ing .mejs-controls .mejs-unmute button,
.mejs-ing .mejs-controls .mejs-mute button,
.mejs-ing .mejs-controls .mejs-volume-button button,
.mejs-ing .mejs-controls .mejs-volume-button {
  width: 23px;
  height: 32px;
  margin: 0;
  padding: 0;
}
.mejs-ing .mejs-controls .mejs-volume-button  {
  top: 0;
  right: 32px;
}
.mejs-ing .mejs-controls .mejs-mute button {
  background: url(controls-ing.png) no-repeat -130px 0;
}
.mejs-ing .mejs-controls .mejs-mute button:hover,
.mejs-ing .mejs-controls .mejs-mute button:focus {
  background-position: -130px -35px;
}
.mejs-ing .mejs-controls .mejs-unmute button {
  background: url(controls-ing.png) no-repeat -154px 0;
}
.mejs-ing .mejs-controls .mejs-unmute button:hover,
.mejs-ing .mejs-controls .mejs-unmute button:focus {
  background-position: -154px -35px;
}
.mejs-ing  .mejs-controls .mejs-volume-button .mejs-volume-slider {
  background: #a8a8a8;
  border: 0 solid;
  width: 23px;
  height: 66px;
  top: -66px;
}
.mejs-ing  .mejs-controls .mejs-volume-button .mejs-volume-total {
  left: 10px;
  width: 3px;
  height: 50px;
  background: #1F1F1F;
}
.mejs-ing  .mejs-controls .mejs-volume-button .mejs-volume-current {
  left: 10px;
  width: 3px;
  background: #fff;
  height: 50px;
}
.mejs-ing  .mejs-controls .mejs-volume-button .mejs-volume-handle {
  display: block;
  width: 13px;
  height: 6px;
  left: 5px;
  background: #fff;
}
.mejs-ing  .mejs-controls .mejs-volume-button .mejs-volume-handle:hover,
.mejs-ing  .mejs-controls .mejs-volume-button .mejs-volume-handle:focus {
  background: #ff6200;
}

/*
Controls: fullscreen
*/
.mejs-ing .mejs-controls .mejs-fullscreen-button  {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: none;
}
.mejs-ing .mejs-controls .mejs-fullscreen-button  button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: transparent url(controls-ing.png) no-repeat -178px 0;
}
.mejs-ing .mejs-controls .mejs-fullscreen-button button:hover,
.mejs-ing .mejs-controls .mejs-fullscreen-button button:focus {
  background-position: -178px -35px;
}
.mejs-ing .mejs-controls .mejs-unfullscreen button {
  margin: 0;
  padding: 0;
  background: transparent url(controls-ing.png) no-repeat -212px 0;
}
.mejs-ing .mejs-controls .mejs-unfullscreen button:hover,
.mejs-ing .mejs-controls .mejs-unfullscreen button:focus {
  background-position: -212px -35px;
}


/*
Chapters view:
*/
.mejs-ing .mejs-chapters .mejs-chapter .mejs-chapter-block {
  min-height: 4em;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mejs-ing .mejs-chapters .mejs-chapter .mejs-chapter-block:hover,
.mejs-ing .mejs-chapters .mejs-chapter .mejs-chapter-block:focus {
  background: #333;
  background: rgba(255,255,255, .1);
}
.mejs-ing .mejs-captions-layer {
  font-family: INGMeWeb;
  font-size: 170%;
  line-height: 38px;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
High-resolution controls:
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mejs-ing .mejs-controls .mejs-unfullscreen button,
  .mejs-ing .mejs-controls .mejs-fullscreen-button  button,
  .mejs-ing .mejs-controls .mejs-unmute button,
  .mejs-ing .mejs-controls .mejs-mute button,
  .mejs-ing .mejs-controls .mejs-captions-button button,
  .mejs-ing .mejs-controls .mejs-playpause-button button,
  .mejs-ing .mejs-overlay:focus .mejs-overlay-button,
  .mejs-ing .mejs-overlay:hover .mejs-overlay-button,
  .mejs-ing .mejs-overlay-button {
    background-image: url(controls-ing.hd.png);
    background-size: auto 70px;
  }
}


/*
* Bootstrap overwrites
*/

.btn {
  padding: 5px 12px;
}

.btn-info {
  color: #fff;
  background-color: #60a6da;
  border-color: #60a6da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #333;
  background-color: #fff;
  border-color: #60a6da;
}
